---
layout: default
title: Home
---
{% for post in site.posts %}
	{% if (post.layout == 'episode') %}
		<article class="episode">
			<header>
				<div class="post_image"><img src="{{ post.image_url }}" alt="{{ post.title }}"/></div>
				<h2 class="post_title">{{ post.title }}</h2>
				<div class="post_date">&nbsp;{{ post.date | date_to_string }}</div>
				<div class="comment_count">
					<span class="count_0">0</span><span class="count_0">0</span><span class="count_{{ post.comment_count }}">{{ post.comment_count }}</span>
					<div>Comments</div>
				</div>
				<div class="guest">Guest: {{ post.guest }}</div>
				<div class="host">Hosts: {{ post.host }}</div>
				<div class="producer">Producer: {{ post.producer }}</div>
				<div class="audio">
					<a class="pause">Pause</a>
					<a class="play">Play</a>
					<div class="data">
						<div class="playhead">00:00</div>
						<div class="total_time">{{ post.total_time }}</div>
					</div>
					<audio class="episode_player" preload>
						<source type="audio/mpeg" src="{{ post.audio_url }}"/>
						<a href="{{ post.audio_url }}">Download the episode</a>
					</audio>
				</div>
			</header>
			<div class="post_content">{{ post.content }}<a class="read_more" href="{{ post.url }}">Full Post</a></div>
		</article>
	{% endif %}
{% endfor %}
