<article class='episode'>
  <header>
    <div class='post_image'>
      <img alt='{{ post.title | escape }}' src='{{ post.image_url }}' />
    </div>
    <h2 class='post_title'>{{ post.title }}</h2>
    <div class='post_date'>&nbsp;{{ post.date | date_to_string }}</div>
    <div class='comment_count'>
      <a href='{{ post.url }}#comments'>
        {{ post.comment_count }}
      </a>
    </div>
    <div class='guest'>Guest: {{ post.guest }}</div>
    <div class='host'>Hosts: {{ post.host }}</div>
    <div class='producer'>Producer: {{ post.producer }}</div>
    <div class='audio'>
      <a class='pause' href='#'>Pause</a>
      <a class='play' href='#'>Play</a>
      <div class='data'>
        <div class='playhead'>00:00</div>
        <div class='total_time'>88:88</div>
        <div class='volume'>
          100%
          <span class='left'></span>
          <span class='right'></span>
        </div>
      </div>
      <audio class='episode_player' preload='preload'>
        <source src='{{ post.audio_url }}' type='audio/mpeg'></source>
      </audio>
    </div>
    <div class='audio_download disabled'>
      <a href='{{ post.audio_url }}'>Download the episode</a>
    </div>
  </header>
  <div class='post_content'>
    {{ post.excerpt }}
    <a class='read_more' href='{{ post.url }}'>Full Post</a>
  </div>
</article>
