%article.episode
	%header
		%h2.post_title {{ post.title }}
		.post_date {{ post.date }}
		.comment_count {{ post.comment_count }}
		.guest {{ post.guest }}
		.host {{ post.host }}
		.producer {{ post.producer }}
	.post_content	
		{{ post.content }}