%article.episode
	%header
		.post_image
			%img{:src => "{{ post.image_url }}", :alt => "{{ post.title | escape }}"}
		%h2.post_title {{ post.title }}
		.post_date &nbsp;{{ post.date | date_to_string }}
		.comment_count
			%a{:href => "{{ post.url }}#comments"}
				{{ post.comment_count }}
		.guest Guest: {{ post.guest }}
		.host Hosts: {{ post.host }}
		.producer Producer: {{ post.producer }}
		.audio
			%a.pause{:href => "#"} Pause
			%a.play{:href => "#"} Play
			.data
				.playhead 00:00
				.total_time 88:88
				.volume 
					100%
					%span.left
					%span.right
			%audio.episode_player{:preload => "preload"}
				%source{:type => "audio/mpeg",  :src => "{{ post.audio_url }}"}
		.audio_download.disabled
			%a{:href => "{{ post.audio_url }}"} Download the episode
	.post_content
		{{ post.excerpt }}
		%a.read_more{:href => "{{ post.url }}"}Full Post