$body_background: #3C3C3C;

@mixin corners ($radii) {
	border-radius: $radii;
	-moz-border-radius: $radii;
}

@mixin dropshadow ($value) {
	-moz-box-shadow: $value;
	-webkit-box-shadow: $value;
	box-shadow: $value;
	
}

body {
	background: $body_background;
}

.middle {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

header.site {
	.logo {
		background: url('../img/logo.png');
		width: 330px;
		height: 40px;
		position: absolute;
		left: 20px;
		top: 27px;
	}
	.main {
		width: 100%;
		height: 100px;
		background: #E6E6E6;
		@include dropshadow(0px 2px 5px 5px rgba(0,0,0,0.5));
	}
	nav {
		display: inline-block;
		height: 34px;
		right: 82px;
		top: 25px;
		padding: 3px 12px 3px 0;
		position: absolute;
		border-width: 8px 6px 5px 6px;
		-moz-border-image: url('../img/dial_border.png') 8 6 5 6 stretch;
		-webkit-border-image: url('../img/dial_border.png') 8 6 5 6 stretch;
		border-image: url('../img/dial_border.png') 8 6 5 6 stretch;
		background: url('../img/dial_seperator_first.png') right center no-repeat #FFF;
	}
	nav:before {
		position: absolute;
		left: -55px;
		bottom: -30px;
		content: url('../img/phones.png');
	}
	nav:after {
		position: absolute;
		right: -85px;
		bottom: -30px;
		content: url('../img/tuner.png');
	}
	li {
		padding: 0 4px 0 24px;
		background: url('../img/dial_seperator_middle.png') left center no-repeat;
		float: left;
		position: relative;
		a {
			font-family: 'Six Caps', sans-serif;
			font-size: 32px;
			text-decoration: none;
			color: #2183AD;
			text-transform: uppercase;
		}
		a.selected {
			color: #4D4D4D;
		}
		a.selected:after{
			position: absolute;
			top: -8px;
			left: 38px;
			content: url('../img/needle.png');
		}
	}
	li:first-child {
		padding-left: 14px;
		background: url('../img/dial_seperator_first.png') left center no-repeat;
	}
	.sub {
		height: 50px;
		padding: 20px 0;
		#envato_dropdown {
			color: #999;
			text-transform: uppercase;
			font-size: 10px;
			font-family: 'Helvetica', sans-serif;
			position: absolute;
			left: 20px;
			top: 4px;
			img {
				vertical-align: 5px;
				margin-left: 6px;
			}
		}
		.rss_button {
			display: block;
			position: absolute;
			left: 526px;
			top: 0px;
			width: 120px;
			height: 32px;
			background-image: url('../img/subscribe_rss_button.png');
			background-position: top left;
			background-repeat: no-repeat;
			text-indent: -10000px;
			content: none;
		}
		.rss_button:hover, .twitter_button:hover {
			background-position: bottom left;
		}
		.twitter_button {
			display: block;
			width: 34px;
			height: 32px;
			position: absolute;
			left: 656px;
			top: 0px;
			background-image: url('../img/twitter_button.png');
			background-position: top left;
			background-repeat: no-repeat;
			text-indent: -10000px;
			content: none;
		}
		#search_form {
			position: absolute;
			top: 0;
			right: 0;
			width: 260px;
			input[type=text] {
				background: #4D4D4D;
				border: 1px solid #000;
				height: 30px;
				width: 180px;
				padding: 0 10px;
				position: absolute;
				left: 0px;
				top: 0px;
			}
			input[type=submit] {
				width: 34px;
				height: 32px;
				background-image: url('../img/search_button.png');
				background-position: top left;
				background-repeat: no-repeat;
				text-indent: -10000px;
				content: none;
				border: none;
				position: absolute;
				left: 200px;
				top: 0px;
			}
			input[type=submit]:hover {
				background-position: bottom left;
				cursor: pointer;
			}
		}
	}
}