$body_background: #3C3C3C;
$link_color: #2183AD;

@mixin corners ($radii) {
	border-radius: $radii;
	-moz-border-radius: $radii;
}

@mixin dropshadow ($value) {
	-moz-box-shadow: $value;
	-webkit-box-shadow: $value;
	box-shadow: $value;
	
}

@font-face {
    font-family: 'ImpactLabelRegular';
    src: url('impact_label/impact_label-webfont.eot');
    src: url('impact_label/impact_label-webfont.eot?#iefix') format('embedded-opentype'),
         url('impact_label/impact_label-webfont.woff') format('woff'),
         url('impact_label/impact_label-webfont.ttf') format('truetype'),
         url('impact_label/impact_label-webfont.svg#ImpactLabelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DSDigitalNormal';
    src: url('ds-digi/ds-digi-webfont.eot');
    src: url('ds-digi/ds-digi-webfont.eot?#iefix') format('embedded-opentype'),
         url('ds-digi/ds-digi-webfont.woff') format('woff'),
         url('ds-digi/ds-digi-webfont.ttf') format('truetype'),
         url('ds-digi/ds-digi-webfont.svg#DSDigitalNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: $body_background;
	font-family: 'Helvetica', sans-serif;
	color: #4D4D4D;
	font-size: 14px;
}

.middle {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.disabled {
	display: none;
}
a {
	color: $link_color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header.site {
	.logo {
		background: url('../img/logo.png');
		width: 330px;
		height: 40px;
		position: absolute;
		left: 20px;
		top: 27px;
	}
	.main {
		width: 100%;
		height: 100px;
		background: #E6E6E6;
		@include dropshadow(0px 2px 5px 5px rgba(0,0,0,0.5));
	}
	nav {
		display: inline-block;
		height: 34px;
		right: 82px;
		top: 25px;
		padding: 3px 12px 3px 0;
		position: absolute;
		border-width: 8px 6px 5px 6px;
		-moz-border-image: url('../img/dial_border.png') 8 6 5 6 stretch;
		-webkit-border-image: url('../img/dial_border.png') 8 6 5 6 stretch;
		border-image: url('../img/dial_border.png') 8 6 5 6 stretch;
		background: url('../img/dial_seperator_first.png') right center no-repeat #FFF;
		li {
			padding: 0 4px 0 24px;
			background: url('../img/dial_seperator_middle.png') left center no-repeat;
			float: left;
			position: relative;
			a {
				font-family: 'Six Caps', sans-serif;
				font-size: 32px;
				text-decoration: none;
				color: #2183AD;
				text-transform: uppercase;
			}
			a.selected {
				color: #4D4D4D;
			}
			a.selected:after {
				position: absolute;
				top: -8px;
				left: 38px;
				content: url('../img/needle.png');
			}
		}
		li:first-child {
			padding-left: 14px;
			background: url('../img/dial_seperator_first.png') left center no-repeat;
		}
	}
	nav:before {
		position: absolute;
		left: -55px;
		bottom: -30px;
		content: url('../img/phones.png');
	}
	nav:after {
		position: absolute;
		right: -85px;
		bottom: -30px;
		content: url('../img/tuner.png');
	}
	.sub {
		height: 50px;
		padding: 20px 0;
		#envato_dropdown {
			color: #999;
			text-transform: uppercase;
			font-size: 10px;
			position: absolute;
			left: 20px;
			top: 4px;
			img {
				vertical-align: -7px;
				margin-left: 6px;
			}
		}
		.rss_button {
			display: block;
			position: absolute;
			left: 526px;
			top: 0px;
			width: 120px;
			height: 32px;
			background-image: url('../img/subscribe_rss_button.png');
			background-position: top left;
			background-repeat: no-repeat;
			text-indent: -10000px;
			content: none;
		}
		.rss_button:hover, .twitter_button:hover {
			background-position: bottom left;
		}
		.twitter_button {
			display: block;
			width: 34px;
			height: 32px;
			position: absolute;
			left: 656px;
			top: 0px;
			background-image: url('../img/twitter_button.png');
			background-position: top left;
			background-repeat: no-repeat;
			text-indent: -10000px;
			content: none;
		}
		#search_form {
			position: absolute;
			top: 0;
			right: 0;
			width: 260px;
			input[type=text] {
				background: #4D4D4D;
				border: 1px solid #000;
				height: 30px;
				width: 180px;
				padding: 0 10px;
				position: absolute;
				left: 0px;
				top: 0px;
			}
			input[type=submit] {
				width: 34px;
				height: 32px;
				background-image: url('../img/search_button.png');
				background-position: top left;
				background-repeat: no-repeat;
				text-indent: -10000px;
				content: none;
				border: none;
				position: absolute;
				left: 200px;
				top: 0px;
			}
			input[type=submit]:hover {
				background-position: bottom left;
				cursor: pointer;
			}
		}
	}
}
article.episode {
	width: 660px;
	background: #E6E6E6;
	margin-bottom: 40px;
	@include dropshadow(0px 1px 4px 3px rgba(0,0,0,0.2));
	header {
		width: 305px;
		padding: 30px 25px 15px 330px;
		height: 250px;
		position: relative;
		background: #CCC;
		border-bottom: 1px solid #B3B3B3;
		font-size: 12px;
		.post_image {
			width: 278px;
			height: 243px;
			position: absolute;
			display: block;
			left: 30px;
			top: 25px;
			@include dropshadow(-1px 1px 7px 7px rgba(0,0,0,0.12));
			img {
				width: 236px;
				height: 236px;
				position: absolute;
				left: 35px;
				top: 4px;
			}
		}
		.post_image:after {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			content: url('../img/jewel_case.png');
			width: 278px;
			height: 243px;
		}
		.post_title {
			font-size: 44px;
			text-shadow: 0 1px rgba(255,255,255,0.7);
		}
		.post_date {
			font-family: 'ImpactLabelRegular';
			font-size: 25px;
			color: #000;
			float: left;
			margin: 14px 0 16px 20px;
			position: relative;
		}
		.post_date:before {
			position: absolute;
			content: url('../img/date_label_shadow.png');
			bottom: -11px;
			left: -6px;
		}
		.comment_count a{
			background: #000;
			padding: 0 1px;
			display: inline-block;
			height: 34px;
			width: 60px;
			position: relative;
			float: right;
			margin-top: 10px;
			@include dropshadow(0px 1px 0px 0px rgba(255,255,255,0.8));
			span {
				display: inline-block;
				width: 20px;
				height: 34px;
				background-image: url('../img/counter_numbers.png');
				background-repeat: no-repeat;
				text-indent: -10000px;
			}
			.count_0 {
				background-position: left -306px;
			}
			.count_1 {
				background-position: left 0px;
			}
			.count_2 {
				background-position: left -34px;
			}
			.count_3 {
				background-position: left -68px;
			}
			.count_4 {
				background-position: left -102px;
			}
			.count_5 {
				background-position: left -136px;
			}
			.count_6 {
				background-position: left -170px;
			}
			.count_7 {
				background-position: left -204px;
			}
			.count_8 {
				background-position: left -238px;
			}
			.count_9 {
				background-position: left -272px;
			}
		}
		.comment_count a:after {
			width: 62px;
			height: 18px;
			content: url('../img/comments_label.png');
			position: absolute;
			display: block;
			bottom: -18px;
		}
		.guest, .host, .producer {
			clear: both;
			margin: 0 0 2px 5px;
			text-shadow: 0 1px rgba(255,255,255,0.6);
			font-size: 12px;
		}
		.audio {
			width: 295px;
			height: 57px;
			background: url('../img/digital_background.png') no-repeat;
			position: absolute;
			bottom: 15px;
			right: 30px;
			.pause, .play {
				position: absolute;
				display: block;
				background-repeat: no-repeat;
				background-position: center top;
				height: 55px;
				text-indent: -10000px;
				cursor: pointer;
			}
			.pause.on, .play.on {
				background-position: center;
			}
			.pause:hover, .play:hover {
				background-position: center bottom;
			}
			.pause {
				top: 0px;
				left: 4px;
				width: 69px;
				background-image: url('../img/pause_button.png');
			}
			.play {
				top: 0px;
				left: 73px;
				width: 85px;
				background-image: url('../img/play_button.png');
			}
			.data {
				position: absolute;
				background: url('../img/digital_screen.png') no-repeat;
				width: 130px;
				height: 48px;
				right: 6px;
				top: 3px;
				font-family: 'DSDigitalNormal';
				color: #2183AD;
				font-weight: normal;
				text-shadow: rgba(81,229,244,0.9) 0 0 2px;
				.playhead {
					position: absolute;
					font-size: 21px;
					left: 16px;
					top: 6px;
				}
				.total_time {
					position: absolute;
					font-size: 14px;
					right: 15px;
					top: 12px;
				}
				.volume {
					display: block;
					width: 100px;
					height: 12px;
					text-indent: -10000px;
					position: absolute;
					bottom: 7px;
					left: 16px;
					cursor: pointer;
				}
				.volume .left {
					display: block;
					width: 99px;
					height: 12px;
					background: url('../img/digital_vol.png') repeat-x left top;
					position: absolute;
					left: 0;
					top: 0;
					cursor: pointer;
				}
				.volume .right {
					display: block;
					width: 1px;
					height: 12px;
					background: url('../img/digital_vol.png') repeat-x right bottom;
					position: absolute;
					right: 0;
					top: 0;
					cursor: pointer;
				}
			}
		}
		.audio_download a {
			background-image: url('../img/download_button.png');
			background-position: bottom;
			background-repeat: no-repeat;
			display: block;
			width: 160px;
			height: 60px;
			position: absolute;
			bottom: 10px;
			left: 305;
			text-indent: -10000px;
		}
		.audio_download a:hover {
			background-position: top;
		}
	}
	.post_content {
		padding: 15px 180px 30px 30px;
		position: relative;
		min-height: 30px;
		a.read_more {
			display: block;
			width: 170px;
			height: 61px;
			text-indent: -10000px;
			position: absolute;
			right: 10px;
			bottom: 10px;
			background-image: url('../img/full_post_button.png');
			background-repeat: no-repeat;
			background-position: center bottom;
		}
		a.read_more:hover {
			background-position: center top;
		}
	}
}
article.event {
	.gallery {
		height: 95px;
	}
}