$body_background: #3C3C3C;

@mixin corners ($radii) {
	border-radius: $radii;
	-moz-border-radius: $radii;
}

@mixin dropshadow ($value) {
	-moz-box-shadow: $value;
	-webkit-box-shadow: $value;
	box-shadow: $value;
	
}

body {
	background: $body_background;
}

.middle {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

header.site {
	.logo {
		background: url('../img/logo.png');
		width: 330px;
		height: 40px;
		position: absolute;
		left: 20px;
		top: 27px;
	}
	.main {
		width: 100%;
		height: 100px;
		background: #E6E6E6;
		@include dropshadow(0px 2px 5px 5px rgba(0,0,0,0.5));
	}
	nav {
		display: inline-block;
		height: 38px;
		right: 82px;
		top: 16px;
		padding: 8px 12px 8px 0;
		position: absolute;
		border-width: 8px 6px 5px 6px;
		-moz-border-image: url('../img/dial_border.png') 8 6 5 6 stretch;
		-webkit-border-image: url('../img/dial_border.png') 8 6 5 6 stretch;
		border-image: url('../img/dial_border.png') 8 6 5 6 stretch;
		background: url('../img/dial_seperator_first.png') right center no-repeat #FFF;
	}
	nav:before {
		position: absolute;
		left: -55px;
		bottom: -20px;
		content: url('../img/phones.png');
	}
	nav:after {
		position: absolute;
		right: -85px;
		bottom: -25px;
		content: url('../img/tuner.png');
	}
	li {
		padding: 0 4px 0 24px;
		background: url('../img/dial_seperator_middle.png') left center no-repeat;
		float: left;
		a {
			font-family: 'Six Caps', sans-serif;
			font-size: 34px;
			text-decoration: none;
			color: #2183AD;
			text-transform: uppercase;
		}
	}
	li:first-child {
		padding-left: 14px;
		background: url('../img/dial_seperator_first.png') left center no-repeat;
	}
}